body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    background: #000 !important;
    color: #fff !important;
}

p{
    font-weight: 400;
}

h2{
    font-weight: 700;
}

