.card-footer {
    background-color: #d3d3d3ee; /* Color plomo claro */
    border-top: 1px solid #ccc; /* Línea divisoria */
    padding: 5px;
  }
  
  .trips{
    padding: 1px;
    font-size: 12px;
    margin-top: 11px;
    margin-right: auto;
  }

  .fas{
    margin-left: 10px;
    margin-right: 5px;
  }
  .card-title{
    font-weight: 700;
  }